/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/*General styles*/
html,
body {
    background-color: rgb(255, 228, 196);
    height: 100%;
    margin: 0;
}

h1,
h2 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}


.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px;
}


/*Main*/
main {
    flex: 1;
}

#paragraph1 {
    text-align: center;
}


/*Game area*/
.game-area {
    background-color: #ffffff;
    width: 75%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
    display: table-cell;
}

.controls-area {
    margin: 20px;
}

.btn {
    background-color: #88dae0;
    font-size: 20px;
    margin: 3px;
}


img {
    width: 200px;
    height: 100px;

}

.user {
    background-color: #7fff00;
    width: 200px;
    float: left;
    margin-top: 20px;
    border: solid green;
}

#user-image {
    mix-blend-mode: multiply;
}

.computer {

    background-color: #e08888;
    width: 200px;
    float: right;
    margin-top: 20px;
    border: solid red;

}

#computer-image {
    mix-blend-mode: multiply;
}


/*Score area*/
.score-area {
    background-color: rgb(255, 252, 111);
    height: 100px;
}

.score-area p:nth-of-type(1) {
    background-color: hsl(133, 30%, 51%);
    float: left;
}

.score-area p:nth-of-type(2) {
    background-color: hsl(350, 80%, 73%);
    float: right;
}

#result {
    text-align: center;
}


/*Attempts Left*/
.number-tries {
    text-align: center;
}


/*Footer*/
footer {
    margin-top: auto;
    background-color: rgb(255, 190, 111);
    ;
    padding: 10px;
    height: 150px;
}

footer p {
    text-align: center;
}


/*Media queries*/

@media (min-width:768px) {
    .score-area {
        background-color: rgb(255, 252, 111);
        ;
        margin-left: 95px;
        margin-right: 95px;
        height: 100px;
    }

    .game-area {
        background-color: #ffffff;
        width: 75%;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1%;
        text-align: center;
        display: block;
    }

}